<p>
  <b>Question:</b>
  <%=h @joke.question %>
</p>

<p>
  <b>Answer:</b>
  <%=h @joke.answer %>
</p>

<% if logged_in_as_admin? %>
	<%= link_to 'Edit', edit_joke_path(@joke) %> |
<% end %>
<%= link_to 'Back', jokes_path %>
